* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  background-image: url(https://imagens.ebc.com.br/93Xdc8_53zvubO_xEpWsElgveEE=/1170x700/smart/https://agenciabrasil.ebc.com.br/sites/default/files/thumbnails/image/2880px-pedro_americo_-_independencia_ou_morte_-_cores_ajustadas_0.jpg?itok=yadd99j9);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}
header {
  padding: 0.000000000000000001px;
  background-color: black;
  border-width: 0;
  border-style: none;
  border-color: transparent;
}
ul {
  width: 100%;
  float: left;
  text-align: center;
  background: #0b1e2e;
  margin-top: 0;
}

li {
  padding-right: 20px;
  display: inline-block;
  list-style: none;
}

li .mymenu {
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  text-decoration: none;
  color: #ffffff;
  -webkit-border-box: 0 1px 0 0 #4c4c4c;
}

footer {
  height: 200px;
  position: absolute;
  top: 5000px;
  left: 600px;
  bottom: 0px;
  font-size: 40px;
  width: 150%;
  padding: 0px;
  margin: 0px 0px 0px 0px;
  position: absolute;
  top: 700px;
  right: 0px;
  bottom: 10px;
}
.swiper {
  height: 100vh;
  width: 100vw;
}
li .mymenu:hover {
  border-bottom: 4px solid #4c4c4c;
}
